//stepper2
.example-full-width {
    width: 100%;
  }
  .Text-edit {
    width: 48%;
  }
  .Text-edit1{
    width: 48%;
    margin-left: 4%;
  }
  .h5-font{
    font-size: 18px;
    color: gray;
  }
  .example-card{
      width: 95%;
      height: 100%;
      margin-left: 2.5%;
  }
  .Text-title-loc{
    text-align: center;
  }
  .Text-title-loc1{
    margin-inline-start: 37.5%;
  }
  .example-viewport {
  height: 400px;
  width: 100%;
  border: 1px solid #807c7c;
  }
  
  .example-item {
  height: 50px;
  }